.feedback_container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 50px;
  }

  .feedback_btn {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: #343333;
    color: #ffffff;
  }

  .feedback_btn:hover {
    background-color: #ffffff;
    color: #343333;
  }